@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
}

.container {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #fafafa;
}

.menu-container {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options-game {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-container h1 {
    margin: 0;
    padding-bottom: 15%;
    font-size: 2.5rem;
    color: #353535;
}

.options-game .btn {
    width: 80px;
    flex-grow: 0;
    margin: 0;
    font-size: 1.7rem;
    height: 80px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent; /* убираем обводку при нажатии на тачпаде */
    /* background-color: #123123; */
}

.start-btn {
  background-color:#15bde7;
  width: 80%; 
  height: 80px;
  font-size: 3rem;
  color: #fff;
  border: none;
  background: #00c542;
  outline: none;
}

.start-btn::after {
    content: ' \003E';
    font-size: 2.3rem;
}

.nickname {
    margin: 80px auto;
    height: 60px;
    width: 80%;
    outline: none;
    font-size: 3rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: #353535;
    transition: background-color .5s ease, color .4s;
}

.nickname:focus {
    background-color: rgba(16, 50, 200, 0.6);
    color: #fff;
    transition: background-color .5s ease, color .4s;
}

.nickname:focus::placeholder {
    color: rgb(228, 228, 228);
}

.game-container {
    height: 100%;
}



.gamebox, .pointsbox {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    height: 100%;
    overflow: hidden;
}

.pointsbox__item {
    font-family: 'Rubik', sans-serif;
}

.box {
    display: flex;
    flex-direction: column;

}

.example {
    max-width: 100%;
    height: 200px;
    /* margin: calc(100vh/6) 10px 50px 10px; */
    line-height: 200px;
}

.btn {
    cursor: pointer;
    
    /* border-radius: 8px; */
    font-family: 'Rubik', sans-serif;
    
}

.box__btn {
    position: relative;
    bottom: 0;
    height: 65px;
    font-size: 42px;
    color: #fff;
    border: none;
    width: 70%;
    align-self: center;
    outline: none;
    flex-grow: 1;
    /* max-height: 65px; */
    background:#4F17B3;
/*     background: linear-gradient(90deg, rgba(133,16,200,1) 0%, rgba(16,23,200,1) 100%); 
    -webkit-box-shadow: 2px 4px 3px 0px rgba(89, 90, 90, 0.63);
    -moz-box-shadow: 2px 4px 3px 0px rgba(89, 90, 90, 0.63);
    box-shadow: 2px 4px 3px 0px rgba(89, 90, 90, 0.63);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; */
}

/* .box__btn:not(:first-child) {
    margin-top: 25px;
}

.box__btn:last-child {
    margin-bottom: 10px;
} */

.timer {
    font-family: 'Rubik', sans-serif;
    
    
    
}


.bar__timer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    height: 25px;
    line-height: 25px;
    /* color: #2e0074; */
    color: #09119b;
    font-size: 1.2rem;
}

.bar__timerbar {
    /* position: relative;
    left: 0;
    width: 100vw; */
    height: 25px;
    top: 0;
    background-color: #29da23;
    text-align: center;
}

.bar__timerbar_low-time {
    background-color:#da4823;
    transition: background-color .5s ease;
}

.bar__timer--grey {
    background-color: #dadada;
    z-index: 0;
}

/* .scale {
    
    transform: scaleX(0.1);
} */

.example__item {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 100px;
    font-family: 'Rubik', sans-serif;
    margin-right: 10px;
    letter-spacing: 8px;
    color: #353535;
}

.solved_number {
    color: #41cf3c;
}



.box__btn--correct {
    background-color: #11b811;
}

.box__btn--incorrect {
    background-color: #cc1414;
}

.hide {
    display: none !important;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    
    html, body {
        height: 100%;
    }

    .gamebox{
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }

    .pointsbox{
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .pointsbox__item {
        margin-top: 35vh;
        font-size: 1.5rem;
        text-align: center;
    }

    .box {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height: 100%; */  
        justify-content: space-between;
    }
    
    .bar, .example {
        width: 100%;
    }

    .bar__timer {
        right: 0px;
        width: 58px;
        padding-right: 5px;
        letter-spacing: 1px;
    }

    .example {
        /* margin: 20% 0 0 0; */
        line-height: 200px;
        text-align: center;
        font-size: 5em;
    }

    .example__item {
        width: 100%;
        font-size: 4rem;
    }

    .box__btn/* :not(:last-child) */ {
        margin-bottom: 5%;
    }

    .points__item {
        font-size: 2.2rem;
        letter-spacing: 0;
        
    }

/*     .box__btn:first-child {
        margin-top: 5%;
    } */
/*     
    .box__btn:last-child {
        margin-bottom: 10px;
    } */

    }

@media (max-width: 600px) {
    .box {
        /* border: 2px solid #000000; */
        min-width: 100%;
        /* min-height: 100vh; */
        text-align: center;
    }
    .btn_select {
        color: #0bff0c;
    }
}